/* styles.css */
body {
  background-color: #f4f4f4;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* styles.css */
.navbar {
  background-color: #3498db;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.navbar-toggler-icon {
  background-color: white;
  border: 1px solid #3498db;
  border-radius: 3px;
  padding: 2px;
  transition: 0.2s;
}

.navbar-toggler-icon:hover {
  background-color: lightgray;
  border-color: lightgray;
}

.nav-link {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
}

.nav-link:hover {
  text-decoration: underline;
}

/* styles.css */
.nav-link.login {
  text-decoration: none;
}

.logo {
  max-width: 40px;
  height: auto;
  margin-right: 10px;
}

/* styles.css */
.login-form {
  margin: 5% auto; /* Adjusted margin to be percentage-based */
  padding: 5%; /* Adjusted padding to be percentage-based */
  background-color: rgba(255, 255, 255, 0.8); /* Increased opacity for better readability */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 800px; /* Used max-width instead of fixed width for responsiveness */
  width: 100%; /* Ensures the form takes the full width of its container */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form .card-header {
  background-color: #3498db;
  color: white;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 10px 0;
}

.login-form .form-group {
  margin-bottom: 10px; /* Reduced margin-bottom for a more compact form */
  text-align: left;
}

.login-form .form-group:last-child {
  margin-bottom: 0;
}

#togglePassword {
  cursor: pointer;
}

.login-form .col-md-6 {
  display: flex;
  flex-direction: column; /* Adjusted flex direction for better alignment on small screens */
  align-items: center;
  justify-content: center;
}

.login-form .col-md-6 .btn {
  width: 100%;
  margin-top: 10px; /* Adjusted margin-top for better spacing */
}

.login-form .btn-link {
  text-align: center;
}

/* Add media query for smaller screens */
@media (max-width: 576px) {
  .login-form {
    margin: 10% auto; /* Adjusted margin for smaller screens */
  }
}



